<div>
  <%= text_replica.position %>
  <%= text_replica.type %>
  <%= text_replica.timeout %>
  <%= text_replica.phrase %>
  <%= text_replica.image %>
  <%= link_to 'Show', admin_step_text_replica_path(@step, text_replica) %>
  <%= link_to 'Edit', edit_admin_step_text_replica_path(@step, text_replica) %>
  <%= link_to 'Destroy', admin_step_text_replica_path(@step, text_replica), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
